.contact{
   margin-top: 20px;
   padding:  20px;
   border:  1px solid rgba($color: #ededed, $alpha: 1);
   &-list{
      list-style: none;
      margin: 10px 0 0;
      padding: 0;
      li{
         margin-top: 10px;
         padding-top: 10px;
         border-top: 1px solid #ededed;
         display: block;
      }
   }
}

.form_wrap{
   width: 100%;
   border:  1px solid #ededed;
   .title,
   .body{
      width: 100%;
      padding:  20px 20px;
   }
   .title{
      background-color:  #f2f2f2;
      color:  #666;
      font-weight: bold;
      font-size:  18px;
      text-transform: capitalize;
   }
   .body{
      padding-top: 10px;
   }

   .add_new_btn{
      margin-top: 20px;
      padding:  10px 25px;
      background-color: aqua;
      color: #666;
   }
}