.input_item{
   width: 100%;
   margin-top: 15px;
   label{
      font-size: 14px;
      display: block;
      color:  #666;
      margin-bottom: 8px;
      text-transform: capitalize;
   }
   .input_field{
      width: 100%;
      border:  1px solid #ededed;
      color:  #000;
      outline: none;
      box-shadow: none;
      padding:  10px 10px;
      &::placeholder{
         color:  #666;
      }
      &:focus,
      &:active{
         outline: none;
         box-shadow: none;
      }
   }
}